<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>MapATL</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon-iPhone.png</string>
		<string>Icon-iPhone@2x.png</string>
		<string>Icon-iPad.png</string>
		<string>Icon-iPad@2x.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.ushahidi.ios.mapatl</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>MapATL</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>3.2</string>
	<key>FacebookAppID</key>
	<string>312374182200481</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>fb312374182200481</string>
		</dict>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>USHApplication_iPhone</string>
	<key>NSMainNibFile~ipad</key>
	<string>USHApplication_iPad</string>
	<key>UILaunchImageFile</key>
	<string>Default.png</string>
	<key>UILaunchImageFile~ipad</key>
	<string>Default.png</string>
	<key>UILaunchImageFile~iphone</key>
	<string>Default.png</string>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackOpaque</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>USHAppStoreURL</key>
	<string>https://itunes.apple.com/us/app/mapatl/id473375574</string>
	<key>USHAppDescription</key>
	<string>Ushahidi is an open source platform for democratizing information, increasing transparency and lowering the barriers for individuals to share their stories.</string>
	<key>USHButtonDoneColor</key>
	<string>#afd775</string>
	<key>USHMapURL</key>
	<string>http://crime.mapatl.com</string>
	<key>USHMapURLS</key>
	<dict>
		<key>MapATL</key>
		<string>http://crime.mapatl.com</string>
	</dict>
	<key>USHNavBarColor</key>
	<string>#024769</string>
	<key>USHPrivacyPolicyURL</key>
	<string></string>
	<key>USHRefreshControlColor</key>
	<string>#024769</string>
	<key>USHSearchBarColor</key>
	<string>#4d7e96</string>
	<key>USHShowReportButton</key>
	<true/>
	<key>USHShowReportList</key>
	<true/>
	<key>USHSortReportsByDate</key>
	<true/>
	<key>USHSupportEmail</key>
	<string>crime@mapatl.com</string>
	<key>USHSupportURL</key>
	<string>http://crime.mapatl.com</string>
	<key>USHTabBarColor</key>
	<string>#4d7e96</string>
	<key>USHTableBackColor</key>
	<string>#c8e2eb</string>
	<key>USHTableHeaderColor</key>
	<string>#2c5700</string>
	<key>USHTableRowColor</key>
	<string>#EEF7FC</string>
	<key>USHTableSelectColor</key>
	<string>#66abcc</string>
	<key>USHTermsOfServiceURL</key>
	<string></string>
	<key>USHToolBarColor</key>
	<string>#4d7e96</string>
	<key>USHYouTubeDeveloperKey</key>
	<string>AI39si4Xhw-DQS8q3Mp-m1wfajgdywhCesee5syP551qIyQ5FFedIa7LgBvWrcLvZDlloJADN5OZJAWRfUl9hQ3jjhspabDAXQ</string>
	<key>USHYouTubePassword</key>
	<string>5juNIOVA9p</string>
	<key>USHYouTubeUsername</key>
	<string>youtube@ushahidi.com</string>
</dict>
</plist>
