<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>USHAppStoreURL</key>
	<string>http://itunes.apple.com/app/ushahidi-ios/id410609585</string>
	<key>USHBitlyApiKey</key>
	<string>R_5ca9804d3e3653daf4500968dbdc61ae</string>
	<key>USHBitlyApiLogin</key>
	<string>ushahidiios</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Checkins</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon.png</string>
		<string>Icon@2x.png</string>
		<string>Icon-72.png</string>
		<string>Icon-Small-50.png</string>
		<string>Icon-Small.png</string>
		<string>Icon-Small@2x.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.ushahidi.ios.teamcheckins</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Team Checkins</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>USHMapURL</key>
	<string>https://ushahidi.crowdmap.com</string>
	<key>NSMainNibFile</key>
	<string>MainWindow_iPhone</string>
	<key>NSMainNibFile~ipad</key>
	<string>MainWindow_iPad</string>
	<key>USHNavBarColor</key>
	<string>#524939</string>
	<key>USHReportNewsURL</key>
	<false/>
	<key>USHSearchBarColor</key>
	<string>#5b5b5b</string>
	<key>USHSupportEmail</key>
	<string>support@ushahidi.com</string>
	<key>USHSupportURL</key>
	<string>http://www.ushahidi.com</string>
	<key>USHTableEvenRowColor</key>
	<string>#f3f4f6</string>
	<key>USHTableGroupedColor</key>
	<string>#f3f4f6</string>
	<key>USHTableHeaderColor</key>
	<string>#def2fb</string>
	<key>USHTableHeaderTextColor</key>
	<string>#FFFFFF</string>
	<key>USHTableOddRowColor</key>
	<string>#eaeaec</string>
	<key>USHTablePlainColor</key>
	<string>#f7f7f4</string>
	<key>USHTableSelectedRowColor</key>
	<string>#938982</string>
	<key>USHToolBarColor</key>
	<string>#5b5b5b</string>
	<key>USHTwitterApiKey</key>
	<string>muqzQTP4YkXi0ncI39s0Jw</string>
	<key>USHTwitterApiSecret</key>
	<string>3uOGt2Hjj777rTOI76tOu1eFEvkgtbTWOvYcHiBqsE</string>
	<key>UILaunchImageFile</key>
	<string>Default</string>
	<key>UILaunchImageFile~ipad</key>
	<string>Default-Portrait</string>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackOpaque</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>USHUnverifiedTextColor</key>
	<string>#CC6666</string>
	<key>USHVerifiedTextColor</key>
	<string>#99CC99</string>
	<key>Required Device Capabilities</key>
	<array>
		<string>armv6</string>
		<string>armv7</string>
	</array>
</dict>
</plist>
