<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>USHAppStoreURL</key>
	<string>http://itunes.apple.com/us/app/id449819867</string>
	<key>USHBitlyApiKey</key>
	<string>R_5ca9804d3e3653daf4500968dbdc61ae</string>
	<key>USHBitlyApiLogin</key>
	<string>ushahidiios</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>交通出行互动平台</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon.png</string>
		<string>Icon@2x.png</string>
		<string>Icon-72.png</string>
		<string>Icon-Small-50.png</string>
		<string>Icon-Small.png</string>
		<string>Icon-Small@2x.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.ushahidi.ios.beijingtransport</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>交通出行互动平台</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>USHMapURL</key>
	<string>http://114.251.208.133/ushahidi/</string>
	<key>NSMainNibFile</key>
	<string>MainWindow_iPhone</string>
	<key>NSMainNibFile~ipad</key>
	<string>MainWindow_iPad</string>
	<key>USHNavBarColor</key>
	<string>#3c4a65</string>
	<key>USHReportNewsURL</key>
	<true/>
	<key>USHSearchBarColor</key>
	<string>#55637d</string>
	<key>USHSupportEmail</key>
	<string>ourbjtransport@gmail.com</string>
	<key>USHSupportURL</key>
	<string>http://114.251.208.133/ushahidi/</string>
	<key>USHTableEvenRowColor</key>
	<string>#d4edf2</string>
	<key>USHTableGroupedColor</key>
	<string>#c4e2ed</string>
	<key>USHTableHeaderColor</key>
	<string>#7b8297</string>
	<key>USHTableHeaderTextColor</key>
	<string>#000000</string>
	<key>USHTableOddRowColor</key>
	<string>#c4e2ed</string>
	<key>USHTablePlainColor</key>
	<string>#e1f0f3</string>
	<key>USHTableSelectedRowColor</key>
	<string>#ea5e20</string>
	<key>USHToolBarColor</key>
	<string>#55637d</string>
	<key>USHDoneButtonColor</key>
	<string>#000000</string>
	<key>USHTwitterApiKey</key>
	<string>muqzQTP4YkXi0ncI39s0Jw</string>
	<key>USHTwitterApiSecret</key>
	<string>3uOGt2Hjj777rTOI76tOu1eFEvkgtbTWOvYcHiBqsE</string>
	<key>UILaunchImageFile</key>
	<string>Default</string>
	<key>UILaunchImageFile~ipad</key>
	<string>Default-Portrait</string>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackOpaque</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>USHUnverifiedTextColor</key>
	<string>#ea5e20</string>
	<key>USHVerifiedTextColor</key>
	<string>#414e6e</string>
	<key>Required Device Capabilities</key>
	<array>
		<string>armv6</string>
		<string>armv7</string>
	</array>
</dict>
</plist>
