<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>USHAppStoreURL</key>
	<string>http://itunes.apple.com/us/app/inherity/id462758826</string>
	<key>USHBitlyApiKey</key>
	<string>R_5ca9804d3e3653daf4500968dbdc61ae</string>
	<key>USHBitlyApiLogin</key>
	<string>ushahidiios</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Inherity</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon.png</string>
		<string>Icon@2x.png</string>
		<string>Icon-72.png</string>
		<string>Icon-Small-50.png</string>
		<string>Icon-Small.png</string>
		<string>Icon-Small@2x.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.ushahidi.ios.inherity</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Inherity</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>USHMapURL</key>
	<string>https://inherity.crowdmap.com</string>
	<key>NSMainNibFile</key>
	<string>MainWindow_iPhone</string>
	<key>NSMainNibFile~ipad</key>
	<string>MainWindow_iPad</string>
	<key>USHNavBarColor</key>
	<string>#031634</string>
	<key>USHReportNewsURL</key>
	<false/>
	<key>USHSearchBarColor</key>
	<string>#033649</string>
	<key>USHSupportEmail</key>
	<string>info@inherity.org</string>
	<key>USHSupportURL</key>
	<string>http://inherity.crowdmap.com</string>
	<key>USHTableEvenRowColor</key>
	<string>#f3f4f6</string>
	<key>USHTableGroupedColor</key>
	<string>#e7e3da</string>
	<key>USHTableHeaderColor</key>
	<string>#c2c2c2</string>
	<key>USHTableHeaderTextColor</key>
	<string>#000000</string>
	<key>USHTableOddRowColor</key>
	<string>#eaeaec</string>
	<key>USHTablePlainColor</key>
	<string>#ffffff</string>
	<key>USHTableSelectedRowColor</key>
	<string>#036564</string>
	<key>USHToolBarColor</key>
	<string>#033649</string>
	<key>USHDoneButtonColor</key>
	<string>#cdb380</string>
	<key>USHTwitterApiKey</key>
	<string>muqzQTP4YkXi0ncI39s0Jw</string>
	<key>USHTwitterApiSecret</key>
	<string>3uOGt2Hjj777rTOI76tOu1eFEvkgtbTWOvYcHiBqsE</string>
	<key>UILaunchImageFile</key>
	<string>Default</string>
	<key>UILaunchImageFile~ipad</key>
	<string>Default-Portrait</string>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackOpaque</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>USHUnverifiedTextColor</key>
	<string>#CC6666</string>
	<key>USHVerifiedTextColor</key>
	<string>#99CC99</string>
	<key>Required Device Capabilities</key>
	<array>
		<string>armv6</string>
		<string>armv7</string>
	</array>
</dict>
</plist>
