<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Ushahidi</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon-iPhone.png</string>
		<string>Icon-iPhone@2x.png</string>
		<string>Icon-iPad.png</string>
		<string>Icon-iPad@2x.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.ushahidi.ios.app</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Ushahidi</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>fb170755516397693</string>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>3.0</string>
	<key>FacebookAppID</key>
	<string>170755516397693</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>USHApplication_iPhone</string>
	<key>NSMainNibFile~ipad</key>
	<string>USHApplication_iPad</string>
	<key>Required Device Capabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UILaunchImageFile</key>
	<string>Default.png</string>
	<key>UILaunchImageFile~ipad</key>
	<string>Default.png</string>
	<key>UILaunchImageFile~iphone</key>
	<string>Default.png</string>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackOpaque</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>USHAppStoreURL</key>
	<string>http://itunes.apple.com/app/ushahidi-ios/id410609585</string>
	<key>USHButtonDoneColor</key>
	<string>#8a1f03</string>
	<key>USHMapURL</key>
	<string></string>
	<key>USHMapURLS</key>
	<dict>
		<key>Ushahidi Demo</key>
		<string>http://demo.ushahidi.com</string>
	</dict>
	<key>USHNavBarColor</key>
	<string>#524939</string>
	<key>USHPrivacyPolicyURL</key>
	<string></string>
	<key>USHRefreshControlColor</key>
	<string>#524939</string>
	<key>USHSearchBarColor</key>
	<string>#756d61</string>
	<key>USHShowReportButton</key>
	<true/>
	<key>USHShowReportList</key>
	<true/>
	<key>USHSortReportsByDate</key>
	<true/>
	<key>USHSupportEmail</key>
	<string>support@ushahidi.com</string>
	<key>USHSupportURL</key>
	<string>http://www.ushahidi.com</string>
	<key>USHTabBarColor</key>
	<string>#756d61</string>
	<key>USHTableBackColor</key>
	<string>#f5f1e3</string>
	<key>USHTableHeaderColor</key>
	<string>#424242</string>
	<key>USHTableRowColor</key>
	<string>#FFFFFF</string>
	<key>USHTableSelectColor</key>
	<string>#8d817a</string>
	<key>USHTermsOfServiceURL</key>
	<string></string>
	<key>USHToolBarColor</key>
	<string>#756d61</string>
	<key>USHYouTubeDeveloperKey</key>
	<string>AI39si7xQjrrR1Y5QLKdzXYuNraYkwDXZj9peI-Sp_G5Irjc5Nuou1fTSDxDwvV4Bnk6nhdLFXWDK9jW0y8FCXsM_wuSV-bIOA</string>
	<key>USHYouTubePassword</key>
	<string>@WZ5S4MksoOgwNY</string>
	<key>USHYouTubeUsername</key>
	<string>dale@ushahidi.com</string>
</dict>
</plist>
