<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Mangroves</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>mangroves57.png</string>
		<string>mangroves114.png</string>
		<string>Icon-72.png</string>
		<string>Icon-Small-50.png</string>
		<string>Icon-Small.png</string>
		<string>Icon-Small@2x.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>mangroves57.png</string>
				<string>mangroves114.png</string>
				<string>Icon-72.png</string>
				<string>Icon-Small-50.png</string>
				<string>Icon-Small.png</string>
				<string>Icon-Small@2x.png</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>org.qfi.mappingthemangroves</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Mapping The Mangroves</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainWindow_iPhone</string>
	<key>NSMainNibFile~ipad</key>
	<string>MainWindow_iPad</string>
	<key>Required Device Capabilities</key>
	<array>
		<string>armv6</string>
		<string>armv7</string>
	</array>
	<key>UILaunchImageFile</key>
	<string>Default</string>
	<key>UILaunchImageFile~ipad</key>
	<string>Default-Portrait</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackOpaque</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>USHAppStoreURL</key>
	<string>http://itunes.apple.com/app/ushahidi-ios/id410609585</string>
	<key>USHBitlyApiKey</key>
	<string>R_5ca9804d3e3653daf4500968dbdc61ae</string>
	<key>USHBitlyApiLogin</key>
	<string>ushahidiios</string>
	<key>USHDoneButtonColor</key>
	<string>#8a1f03</string>
	<key>USHMapURL</key>
	<string>http://mappingthemangroves.qfi.org/</string>
	<key>USHNavBarColor</key>
	<string>#390d07</string>
	<key>USHReportNewsURL</key>
	<true/>
	<key>USHSearchBarColor</key>
	<string>#faf0cf</string>
	<key>USHSupportEmail</key>
	<string>support@ushahidi.com</string>
	<key>USHSupportURL</key>
	<string>http://www.ushahidi.com</string>
	<key>USHTableEvenRowColor</key>
	<string>#f9f9f3</string>
	<key>USHTableGroupedColor</key>
	<string>#f5f1e3</string>
	<key>USHTableHeaderColor</key>
	<string>#a9a19b</string>
	<key>USHTableHeaderTextColor</key>
	<string>#FFFFFF</string>
	<key>USHTableOddRowColor</key>
	<string>#f6f6ee</string>
	<key>USHTablePlainColor</key>
	<string>#fbfbf8</string>
	<key>USHTableSelectedRowColor</key>
	<string>#8d817a</string>
	<key>USHToolBarColor</key>
	<string>#756d61</string>
	<key>USHTwitterApiKey</key>
	<string>muqzQTP4YkXi0ncI39s0Jw</string>
	<key>USHTwitterApiSecret</key>
	<string>3uOGt2Hjj777rTOI76tOu1eFEvkgtbTWOvYcHiBqsE</string>
	<key>USHUnverifiedTextColor</key>
	<string>#CC6666</string>
	<key>USHVerifiedTextColor</key>
	<string>#99CC99</string>
</dict>
</plist>
