<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MapURL</key>
	<string></string>
	<key>MapName</key>
	<string></string>
	<key>NavBarTintColor</key>
	<string>#2E2E2E</string>
	<key>ToolBarTintColor</key>
	<string>#2E2E2E</string>
	<key>SearchBarTintColor</key>
	<string>#2E2E2E</string>
	<key>TablePlainBackColor</key>
	<string>#f6f6ee</string>
	<key>TableGroupedBackColor</key>
	<string>#f2eddc</string>
	<key>TableOddRowColor</key>
	<string>#f2eddc</string>
	<key>TableEvenRowColor</key>
	<string>#f0f0e4</string>
	<key>TableSelectRowColor</key>
	<string>#e6ddbe</string>
	<key>TableHeaderBackColor</key>
	<string>#e6ddbe</string>
	<key>TableHeaderTextColor</key>
	<string>#891f02</string>
	<key>VerifiedTextColor</key>
	<string>#99CC99</string>
	<key>UnverifiedTextColor</key>
	<string>#CC6666</string>
</dict>
</plist>
